EXPO_PUBLIC_SUPABASE_URL=https://zrzljtoctzpvrkbckthr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyemxqdG9jdHpwdnJrYmNrdGhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQxMjc3MzksImV4cCI6MjA2OTcwMzczOX0.PWkiEi2Q18-11AXIO_hcKCAZR3JPQkp-fEEvrAzUbKY
EXPO_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyemxqdG9jdHpwdnJrYmNrdGhyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDEyNzczOSwiZXhwIjoyMDY5NzAzNzM5fQ.h6sssgDPr_Egq8rjJjrLLw8PHciwv1a6SwJioB-w8ac
EXPO_PUBLIC_SUPABASE_SESSION_STORAGE_KEY=sb-zrzljtoctzpvrkbckthr-auth-token